{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título de la Página | Nombre del Sitio{% endblock %}</title>

    <meta name="description" content="{% block meta_description %}Breve descripción de la página para SEO. Incluye palabras clave relevantes.{% endblock %}">

    <meta name="keywords" content="{% block meta_keywords %}palabra clave 1, palabra clave 2, palabra clave 3{% endblock %}">

    <meta name="author" content="Tu Nombre o Nombre de la Empresa">

    <meta name="robots" content="index, follow">

    <link rel="icon" href="{% static 'img/tierra.png' %}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>

<body class="bg-gray-200">

    <header>
        <!-- Sidebar -->
        {% include 'components/sidebar.html' %}
    </header>

    <main>
        <!-- Contenido dinámico -->
        <div class="lg:ml-64 lg:pl-4 lg:flex lg:flex-col lg:w-75% mt-5 mx-2">
            {% block content %}
            <!-- Contenido dinámico de la página -->
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer>
        {% include 'components/footer.html' %}
    </footer>

    <!-- Script -->
    <script>
        const menuBtn = document.getElementById('menuBtn');
        const sideNav = document.getElementById('sideNav');

        menuBtn.addEventListener('click', () => {
            sideNav.classList.toggle('hidden');
        });
    </script>
</body>

</html>
