{% load static %}

<body class="bg-gray-200">
    <!-- Navbar -->
    {% include "components/navbar.html" %}

    <!-- Barra lateral -->
    <div id="sideNav" class="lg:block hidden bg-white w-64 h-screen fixed rounded-none border-none flex flex-col justify-between" aria-label="Sidebar">
        <div>
            <div class="px-6 py-4 text-3xl font-bold border-b border-gray-300 text-center">
                Dashboard
            </div>
            <div class="flex justify-center mt-4">
                <img src="{% static 'img/hasbullita.jfif' %}" alt="Foto de Perfil del Usuario" class="w-24 h-24 rounded-full border-4 border-green-300">
            </div>
            <nav class="flex flex-col mt-6 space-y-4 text-xl" aria-label="Menú de Navegación">
                <a href="#" class="px-6 py-2 transition duration-300 hover:bg-green-300 rounded flex items-center">
                    <i class="fa-solid fa-house mr-3"></i> Home
                </a>
                <a href="#" class="px-6 py-2 transition duration-300 hover:bg-green-300 rounded flex items-center">
                    <i class="fa-solid fa-chart-simple mr-3"></i> Estadísticas
                </a>
                <a href="#" class="px-6 py-2 transition duration-300 hover:bg-green-300 rounded flex items-center">
                    <i class="fa-solid fa-hippo mr-3"></i> Tipo de especies
                </a>
                <a href="#" class="px-6 py-2 transition duration-300 hover:bg-green-300 rounded flex items-center">
                    <i class="fa-solid fa-globe mr-3"></i> Análisis Geográfico
                </a>
                <a href="#" class="px-6 py-2 transition duration-300 hover:bg-green-300 rounded flex items-center">
                    <i class="fa-solid fa-skull-crossbones mr-3"></i> Amenazas
                </a>
            </nav>
        </div>
        <div class="px-6 py-4 border-t border-gray-300">
            <button class="w-full px-4 py-2 font-semibold text-green-700 bg-green-200 rounded hover:bg-green-300">
                <i class="fa-solid fa-right-from-bracket"></i> Logout
            </button>
        </div>
    </div>

    <!-- Script  -->
    <script>
        const menuBtn = document.getElementById('menuBtn');
        const sideNav = document.getElementById('sideNav');

        menuBtn.addEventListener('click', () => {
            sideNav.classList.toggle('hidden');
        });
    </script>
</body>
